NODE_ENV=

# PostgreSQL — Docker
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public"

# GraphQL
GRAPHQL_AUTO_SCHEMA="true"
GRAPHQL_PLAYGROUND="true"

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=4h